name: Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.9
          environment-file: environment.dev,yaml  
          activate-environment: qt
      - name: Run pylint
        run: pylint $(git ls-files '*.py')
