name: Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: 3.9
          auto-update-conda: true
          environment-file: environment.dev.yaml  
          activate-environment: test
      - name: Conda info
        shell: bash -el {0}
        run: |
          conda activate test
          conda info
          conda list
          pylint --version
#      - name: Run pylint
#        run: pylint $(git ls-files '*.py')
